<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>foreach_fetch</title>
    </head>
    <body>

        <div id="app">

            <button :disabled='Loading'
                    @click="download_all_checked" >
                    {{ Loading ? 'Loading...' : 'Click Me' }}
            </button>
            <br/><br/>
            <div v-for="(item, index) in files" :key="index">
                <input type="checkbox" :id="item.name" v-model="item.checked">
                <label :for="item.name" >{{item.name}}</label>
                <span v-if="!item.status">...</span>
                <span v-else>{{ item.status }}</span>
            </div>
            
        </div>

        <!-- 加上這個 CDN 引用的句子，就可以使用 vue 的語法，不用安裝那麼多東東… -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            
            let vm = new Vue({
                el:'#app', // 綁到這個元素
                data:{
                    URL:`https://api.github.com/repos/vuejs/core/commits?per_page=3&sha=`,
                    files:
                    [    
                        { name: 'main', checked: true, status: null },
                        { name: 'v2-compat', checked: true, status: null  } 
                    ],
                    Loading: false
                },
                methods: {

                    async sleep(ms){
                        //alert('sleep');
                        return new Promise((resolve) => {
                            setTimeout(resolve, ms);
                        });
                    },
                    async download_one(f) {
                        
                        //alert("download " + f.name + " start");
                        f.status = 'loading...'

                        var tmp_status = "";
                        if(f.checked==false)
                            tmp_status = "skip";
                        else{

                            little_url = `${this.URL}${f.name}`
                            fetch(little_url)
                            .then(async response => {
                                const data = await response.json();
                                if (response.ok) {tmp_status = 'download compelte';}
                                else{tmp_status = (data && data.message) || response.statusText;}               
                                })
                            .catch(error => {
                                tmp_status = error;
                                });

                            await this.sleep(5000) //模擬fetch佔時間

                        }
                        f.status = tmp_status;
                        //alert("download " + f.name + " over");
                    },
                    async lockBtn()
                    {
                        this.Loading = !this.Loading;
                    },
                    download_all_checked : async() => {

                        await vm.lockBtn();

                        for (const file of vm.files) {
                            await vm.download_one(file);
                            console.log(file.name);
                        }

                        await vm.lockBtn();
                        
                    }
 
                }
            });
        </script>
    </body>
</html>